.custom-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 150px;
	width: auto;
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
	font-size: 16px;
	line-height: 19px;
	background: #ffffff;
	border: 1px solid #660708;
	color: #660708;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: #660708;
		color: #fff;
	}

	&.googleAuth {
		background: white;
		border: 1px solid #4c8bf5;
		color: #4c8bf5;
		&:hover {
			background-color: #4c8bf5;
			color: white;
			border: 1px solid #4c8bf5;
		}
	}
}
