.cart-icon {
	width: 36px;
	height: 36px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 0 12px;

	.shopping-icon {
		width: 24px;
		height: 24px;
	}

	.item-count {
		position: absolute;
		font-size: 9px;
		font-weight: bold;
		bottom: 0;
		right: 5px;
		color: #fff;
		background-color: #660708;
		border-radius: 30px;
		height: 16px;
		width: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		user-select: none;
	}
}
