.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;

	.background-image {
		position: relative;
		img {
			width: 100%;
		}

		.homepage-title {
			position: absolute;
			left: 0;
			top: 150px;
			width: 100%;

			h1 {
				width: fit-content;
				margin-bottom: 4px;
				padding: 4px 8px;
				font-size: 48px;
				line-height: 58px;
				text-transform: uppercase;
				font-weight: normal;
				color: #000;
				background: rgba(255, 255, 255, 0.4);
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.homepage {
		.background-image {
			.homepage-title {
				position: absolute;
				left: 0;
				top: 30px;
				width: 100%;

				h1 {
					font-size: 36px;
					line-height: 48px;
				}
			}
		}
	}
}

@media screen and (max-width: 492px) {
	.homepage {
		.background-image {
			.homepage-title {
				h1 {
					font-size: 28px;
					line-height: 36px;
				}
			}
		}
	}

	.w-100 {
		width: 100%;
	}
}
