.cart-dropdown {
	position: absolute;
	width: 297px;
	height: 480px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: white;
	top: 90px;
	right: 40px;
	z-index: 5;
	box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);

	.cart-items {
		height: 370px;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
	}

	.empty-message {
		font-size: 18px;
		margin: 60px auto;
	}

	button {
		margin-top: auto;
	}
}
