.alert {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	background: #0b090a;
	color: #fff;
}

.alert.default {
	background: #222b45;
	color: #fff;
}

.alert.success {
	background: #12c99b;
	color: #fff;
}

.alert.warning {
	background: #f2a600;
	color: #fff;
}

.alert.error {
	background: #660708;
	color: #fff;
}
