.directory-menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: -150px;
}

@media screen and (max-width: 991.98px) {
	.directory-menu {
		margin-top: -250px;
		flex-direction: column;
	}
}
